include requirements.txt
recursive-include gerp *.css
recursive-include gerp *.csv
recursive-include gerp *.doc
recursive-include gerp *.eml
recursive-include gerp *.eot
recursive-include gerp *.gif
recursive-include gerp *.html
recursive-include gerp *.ico
recursive-include gerp *.jpeg
recursive-include gerp *.jpg
recursive-include gerp *.js
recursive-include gerp *.less
recursive-include gerp *.md
recursive-include gerp *.mp3
recursive-include gerp *.ogg
recursive-include gerp *.otf
recursive-include gerp *.pdf
recursive-include gerp *.png
recursive-include gerp *.po
recursive-include gerp *.rml
recursive-include gerp *.rng
recursive-include gerp *.rst
recursive-include gerp *.sass
recursive-include gerp *.sql
recursive-include gerp *.svg
recursive-include gerp *.template
recursive-include gerp *.txt
recursive-include gerp *.ttf
recursive-include gerp *.woff
recursive-include gerp *.woff2
recursive-include gerp *.wsdl
recursive-include gerp *.xls
recursive-include gerp *.xsd
recursive-include gerp *.xsl
recursive-include gerp *.xml
recursive-include gerp *.yml
recursive-exclude * *.py[co]
recursive-exclude * *.hg*
